---
import Section from "../Section.astro"

import { skills } from "@cv"

import CSS from "@/icons/skills/CSS.astro"
import Git from "@/icons/skills/Git.astro"
import GitHub from "@/icons/skills/GitHub.astro"
import HTML from "@/icons/skills/HTML.astro"
import JavaScript from "@/icons/skills/JavaScript.astro"
import LSM from "@/icons/skills/LSM.astro"
import MariaDB from "@/icons/skills/MariaDB.astro"
import Node from "@/icons/skills/Node.astro"
import Pawn from "@/icons/skills/Pawn.astro"
import TypeScript from "@/icons/skills/TypeScript.astro"
import type { Icon } from "@/types"
const SKILLS_ICONS: Icon = {
  CSS,
  Git,
  GitHub,
  HTML,
  JavaScript,
  LSM,
  MariaDB,
  Node,
  Pawn,
  TypeScript
}

---

<Section title="Habilidades">
  <ul>
    {
      skills.map(({ name, description }) => {  
        const Icon = SKILLS_ICONS[name];
      
        return (
          <li>
          <Icon/>
          <h4>{name}</h4><h5 class="desc">{description}</h5>
          </li>
        );
      })
    }
  </ul>
</Section>

<style>
  img{
    max-width: 3rem;
  }
  ul {
    display: inline-flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-inline: +16px;


    border-radius: 8px;
    border: 1px solid #170020;
    flex-direction: row;
    padding: 16px;
    height: 100%;
    width: 100%;
  }

  li {
    border-radius: 6px;
    background: #170020;
    color: #eee;
    font-size: 1rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }
  h4:hover + .desc
  {
    font-size: 1rem;
    display: block;
    position: absolute;
    color: #fff;
    margin-block: -64px;
    margin-inline: -64px;
    background: #00030C;
    padding: 0.2rem 0.6rem;
    border-radius: 6px;
    border: 2px solid #000820;
    text-align: center;

    animation: linear 0.3s fadeIn;
    text-wrap: balance;
  }
  .desc
  {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @media print {
    li {
      border-radius: 6px;
      border: 1px solid #170020;
      color: #eee;
      font-size: 1rem;
      font-weight: 500;
      padding: 0.2rem 0.6rem;
    }
  }

</style>
